Before starting, make sure you have plotly and colorlover and pycountry in python by running the following on terminal: 

sudo pip install plotly 

sudo pip install colorlover

sudo pip install pycountry

In [1]:
import csv

#returns the csv in the form of a list of lists
def csvListMaker(nameOfFile):
    listOfAll = []
    with open(nameOfFile, 'rb') as streetfoodfile:
        csvreader = csv.reader(streetfoodfile)
        for row in csvreader:
            #each row is a list where index 0 is food and index 1 is the location
            listOfAll.append(row)
    return listOfAll

#returns list of only the 0th index which should be the foods
def foodListMaker(nameOfFile):
    listOfFoods = []
    with open(nameOfFile, 'rb') as streetfoodfile:
        csvreader = csv.reader(streetfoodfile)
        for row in csvreader:
            #each row is a list where index 0 is food and index 1 is the location
            listOfFoods.append(row[0])
    return listOfFoods

In [2]:
from pandas import *

international_list = csvListMaker("InternationalFoods.csv")[1:]

international_dataframe= DataFrame(international_list) #printing as data frame just because then it's easy to see which index goes wtih what

In [3]:
international_dataframe

                          0                    1              2 3  4  5
0                  Biscuit                   USA  International
1              Apple butter                  USA  International
2               Apple sauce                  USA  International
3              Baked potato                  USA  International
4                 Barbecue                   USA  International
5                 Bear claw                  USA  International
6            Beef Manhattan                  USA  International
7      Blue cheese dressing                  USA  International
8            Brunswick stew                  USA  International
9            Buffalo burger                  USA  International
10             Buffalo wing                  USA  International
11               Bull roast                  USA  International
12            Butter cookie                  USA  International
13               Cheese dog                  USA  International
14             Cheese fries                  USA  International
15             Cheese steak                  USA  International
16      Chicago-style_pizza                  USA  International
17        Chicken Ã  la King                  USA  International
18      Chicken and waffles                  USA  International
19            Chicken Divan                  USA  International
20          Chicken fingers                  USA  International
21           Chicken French                  USA  International
22      Chicken fried bacon                  USA  International
23      Chicken fried steak                  USA  International
24           Chicken nugget                  USA  International
25       Chicken parmigiana                  USA  International
26         Chicken sandwich                  USA  International
27          Chili con carne                  USA  International
28                Chili dog                  USA  International
29              Chimichanga                  USA  International
...                     ...                  ...            ... .. .. ..
1311              Chakalaka         South Africa  International
1312                  Phutu         South Africa  International
1313               Potbrood         South Africa  International
1314              Potjiekos              Namibia  International
1315                Qatayef                Egypt  International
1316                  Sadza             Zimbabwe  International
1317                 Seswaa             Botswana  International
1318                  Sfenj         North Africa  International
1319             Shahan ful         North Africa  International
1320             Shakshouka     Northwest Africa  International
1321                  Shiro             Ethiopia  International
1322            Shish taouk         North Africa  International
1323            Skilpadjies         South Africa  International
1324                Sosatie             Botswana  International
1325                   Suya              Nigeria  International
1326                  Tabil              Tunisia  International
1327                 Tahini         North Africa  International
1328                 Tajine         North Africa  International
1329         Tapalapa bread          West Africa  International
1330          Thieboudienne              Senegal  International
1331          Tomato bredie              Namibia  International
1332      Torta de Gazpacho              Algeria  International
1333                   Toum               Levant  International
1334                  Ugali  African Great Lakes  International
1335              Umngqusho               Africa  International
1336                  Usban                Libya  International
1337                Vetkoek      Southern Africa  International
1338                    Wat             Ethiopia  International
1339  Waterblommetjiebredie         South Africa  International
1340                  Yassa              Senegal  International

[1341 rows x 6 columns]

In [4]:
#get the list of countries
no_country_duplicates = international_dataframe.drop_duplicates(subset= [1], keep='first', inplace=False)
countries_list = no_country_duplicates[1].tolist()
print countries_list

['USA', 'China', 'France', 'Germany', 'UK', 'India', 'Italy', 'Thailand', 'Spain', 'Mexico', 'Ethiopia', 'Ecuador', 'Korea', 'Vietnam', 'Cameroon', 'Nigeria', 'Morocco', 'North Africa', 'Levant', 'South Africa', 'Libya', 'Southern Africa', 'Tunisia', 'Zimbabwe', 'Egypt', 'Ghana', 'Algeria', 'West Africa', 'East Africa', 'Uganda', 'Maghreb', 'Central Africa', 'Namibia', 'Botswana', 'Northwest Africa', 'Senegal', 'African Great Lakes', 'Africa']

In [5]:
#setup pytrends
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)
                    # ,proxies = {'https': 'https://34.203.233.13:80'})

In [6]:
import pandas as pd

#get the Google trends over time for items in dataframe df
def info_over_time (df, start_date, end_date, region, first_item, country=None):
    
    time = start_date + ' ' + end_date
    
    #if a country is specified, only get items for that country
    if country == None:
        kwlist = df[0].tolist()
    else:
        country_items = df.loc[df[1] == country]
        kwlist = country_items[0].tolist()
        
    if first_item == 'None':
        first_item = kwlist[0]
 
    first = [first_item]
        
    #get info for first 5 items
    first.extend(kwlist[0:4])
        
    pytrends.build_payload(first, cat=0, timeframe= time, geo=region, gprop='')
        
    tempdf = pytrends.interest_over_time()
    tempdf = tempdf.drop('isPartial', 1) #drop isPartial col
    tempdf.loc['mean'] = tempdf.mean() #add mean as last row
    
    ref_mean = tempdf.loc['mean'][0] #mean of first term, used as reference    
    df = tempdf #final dataframe
    
    # start and end indices of items
    start = 0
    end = 4
    
    done = False
    while not done:
        
        start = start + 4
        if (len(kwlist) - 1) > (end + 4):
            end = end + 4

        else:
            end = len(kwlist) - 1
            done = True
        
        #get the info for these items
        items = kwlist[start:end] 
        
        items.append(first_item)
                
        pytrends.build_payload(items, cat=0, timeframe= time, geo=region, gprop='')
        tempdf = pytrends.interest_over_time()
        tempdf = tempdf.drop('isPartial', 1) #drop isPartial col
        tempdf.loc['mean'] = tempdf.mean() #add mean as last row
        
        #normalize the values
        #equation = x * ref_mean/ ref_mean2
        ref_mean2 = tempdf.loc['mean'][first_item]
                
        normal_factor = float (ref_mean)/ref_mean2
        tempdf = tempdf.apply(lambda x: x*normal_factor)
        tempdf = tempdf.drop(first_item,1)
        
        #append to the final dataframe
        df = pd.concat([df, tempdf], axis=1)

    return df

In [7]:
import pandas as pd

#get the Google trends by region for items in dataframe df
def info_by_region (df, places_list, resolution, start_date, end_date, region, first_item, country=None):
    
    time = start_date + ' ' + end_date
    
    #if a country is specified, only get items for that country
    if country == None:
        kwlist = df[0].tolist()
    else:
        country_items = df.loc[df[1] == country]
        kwlist = country_items[0].tolist()
        
    if first_item == 'None':
        first_item = kwlist[0]
        
    first = [first_item]
        
    #get info for first 5 items
    first.extend(kwlist[0:4])
    pytrends.build_payload(first, cat=0, timeframe= time, geo=region, gprop='')
    tempdf = pytrends.interest_by_region(resolution= resolution)
    tempdf.loc['mean'] = tempdf.mean() #add mean as last row
    ref_mean = tempdf.loc['mean'][0] #mean of first term, used as reference    
    df = tempdf #final dataframe
    
    # start and end indices of items
    start = 0
    end = 4
    
    done = False
    while not done:
        
        start = start + 4
        if (len(kwlist) - 1) > (end + 4):
            end = end + 4

        else:
            end = len(kwlist) 
            done = True
        
        #get the info for these items
        items = kwlist[start:end] 
        items.append(first_item)
        pytrends.build_payload(items, cat=0, timeframe= time, geo=region, gprop='')
        tempdf = pytrends.interest_by_region(resolution= resolution)
        tempdf.loc['mean'] = tempdf.mean() #add mean as last row
        
        #normalize the values
        #equation = x * ref_mean/ ref_mean2
        ref_mean2 = tempdf.loc['mean'][first_item]
        normal_factor = float (ref_mean)/ref_mean2
        tempdf = tempdf.apply(lambda x: x*normal_factor)
        tempdf = tempdf.drop(first_item,1)
        
        #append to the final dataframe
        df = pd.concat([df, tempdf], axis=1)
        
    df = df.loc[places_list, :]

    return df

In [8]:
#get x number of items with the greatest mean
def sortDataFrameAndReturnXRows(unsortedDf, numRowsNeeded):
    sortedDf = unsortedDf.T
    sortedDf = sortedDf.sort_values(by=['mean'], ascending = False)
    sortedDf = sortedDf.iloc[: numRowsNeeded] #select only the top numRowsNeeded rows from the sorted data frame
    return sortedDf.T

In [9]:
from itertools import izip_longest

#helps group and iterate through elements in a list
def grouper(n, iterable, fillvalue=None):
    "grouper(3, 'ABCDEFG', 'x') --> ABC DEF Gxx"
    args = [iter(iterable)] * n
    return izip_longest(fillvalue=fillvalue, *args)

#list of countries split into more lists to prevent overloading 
#and to help debugging when scraping from Google Trends
split_countries = []
for x, y, z in grouper(3,countries_list):
    split_countries.append([x, y, z])

In [10]:
import pandas as pd

#get top 20 items for each country
def get_top20 (countries, top_list):
    for c in countries:
        print c
        df=info_over_time(international_dataframe, '2013-05-05', '2018-04-22', '', 'None', c)
        condensed_df = sortDataFrameAndReturnXRows(df, 20)
        items = list(condensed_df)
        
        print items
        
        if len(items) >= 20:
            print 'added'
            items_and_country = []
            for i in items:
                items_and_country.append([i, c])
            top_list = top_list.append(pd.DataFrame(items_and_country))
    return top_list

In [12]:
# get top 20 items from each country
top20 = DataFrame()
top20 = get_top20 (countries_list, top20)

USA
['Hamburger', 'Pancakes', 'Barbecue ', 'Biscuit ', 'Fried chicken', 'Meatloaf', 'Baked potato', 'Sour cream', 'Potato salad', 'Coleslaw', 'Chowder', 'Pumpkin pie', 'Pasta salad', 'Corned beef', 'Stuffed peppers', 'Grits', 'Macaroni and cheese', 'Doughnut', 'Chili con carne', 'Chicken sandwich']
added
China
['Fried Rice', 'Dumplings', 'Dim sum', 'Noodle soup', 'Hot pot', 'Chow mein', 'Wonton', 'Peking Duck', 'Kung Pao chicken', 'Sweet and sour pork', 'Braised pork', 'Tea egg', 'Century egg', 'Baozi', 'Soy egg', 'Pickled vegetables', 'Mantou', 'Lamian', 'Jiaozi', 'Cha siu']
added
France
['Ratatouille ', 'Madeline', 'Croissant', 'Baguette', 'Macarons', 'Foie gras', 'Raclette ', 'Chichi ', 'Creme brulee', 'Navette ', 'Mousse au chocolat', 'Gateau au yaourt', 'Tartiflette ', 'Tourte', 'Gratin dauphinois ', 'Tarte Tatin', 'Galette des rois', 'Quenelle ', 'Magret de canard', 'Pain perdu']
added
Germany
['Sauerkraut', 'Marzipan', 'Kartoffelsalat', 'Apfelkuchen', 'Bratwurst', 'Currywurst', 'Stollen', 'Sauerbraten', 'Sp\xc3\xa4tzle', 'Rouladen', 'Bratkartoffeln', 'K\xc3\xb6nigsberger Klopse', 'Spanferkel', 'Pellkartoffeln', 'Hendl', 'Schweinshaxe', 'Weihnachtsgans', 'Hasenpfeffer', 'Fischbr\xc3\xb6tchen', 'Mettbr\xc3\xb6tchen']
added
UK
['Fish and chips', 'Cobbler', 'Scones', 'Pound cake', 'Trifle', 'Yorkshire pudding', 'Beef Wellington', 'Game pie', 'Game pie', 'Pasty', 'Mince pie', 'Cottage pie', 'Cauliflower cheese', 'Sticky toffee pudding', "Shepherd's pie", 'Black pudding', 'Bangers and mash', 'Pork pie', 'Welsh rarebit', 'Sunday roast']
added
India
['Rice', 'Dal', 'Olan ', 'Momo', 'Puri', 'Fara', 'Biryani', 'Biryani', 'Paneer', 'Dosa', 'Brown Rice', 'Kanji', 'Baati', 'Patra', 'Vada', 'Butter Chicken', 'Bhaji', 'Barfi', 'Samosa', 'Paratha']
added
Italy
['Pizza', 'Spaghetti   ', 'Risotto', 'Lasagne', 'Oca ', 'Gnocchi', 'Ravioli  ', 'Chitarra', 'Bruschetta', 'Salami', 'Pancetta ', 'Salame', 'Orzo', 'Minestrone', 'Minestrone', 'Vitello ', 'Ziti', 'Ziti', 'Brodo', 'Vermicelli']
added
Thailand
['Suki', 'Pad Thai', 'Chok', 'Khao soi', 'Phat Mama', 'Khao man gai', 'Khao tom', 'Chim chum', 'Khao phat', 'Yentafo', 'Kaeng som', 'Khao niao', 'Khua kling', 'Khao mok gai', 'Kaeng phet', 'Kaeng khiao wan', 'Khao soi Mae Sai', 'Mi krop', 'Kaolao', 'Pathongko']
added
Spain
['Coca', 'Paella', 'Empanada', 'Gazpacho', 'Escabeche', 'Merienda', 'Ropa vieja', 'Gachas', 'Fabada Asturiana', 'girella', 'Arroz a la cubana', 'Chicharr\xc3\xb3n ', 'Gazpacho manchego', 'Ajoblanco', 'Mollete', 'Pisto\nPisto manchego', 'Escudella', 'Hornazo', 'Olla podrida', 'Caparrones']
added
Mexico
['Tacos', 'Salsa', 'Sopa', 'Burrito', 'Guacamole', 'Gorditas', 'Chorizo', 'Chorizo', 'Ceviche', 'Nachos', 'Tortillas', 'Tamales', 'Enchilada ', 'Fajitas', 'Huaraches', 'Barbacoa', 'Puntas', 'Menudo', 'Menudo', 'Lentil soup ']
added
Ethiopia
['Wat', "Ga'at", 'Samosa', 'Shiro ', 'Shiro', 'Teff ', 'Injera ', 'Injera', 'Gored gored ', 'Gored gored', 'Ensete ', 'Kitfo', 'Kitfo', 'Kitcha', 'Fit-fit', 'Himbasha', 'Tihlo ', 'Fir-fir ', 'Guizotia abyssinica ', 'Shahan ful']
added
Ecuador
['Panela ', 'Seco', 'Guinea pig', 'Churrasco', 'Ceviche', 'Mote', 'Dulce de Leche', 'Escabeche', 'Lechon ', 'Churro', 'Alfajor', 'Roscas', 'Sofrito ', 'Locro', 'Sancocho', 'Encebollado ', 'Humita', 'Fritada', 'Salchipapas', 'Come y Bebe ']
added
Korea
['Kimchi ', 'Bulgogi', 'Galbi', 'Galbi', 'Galbi ', 'Japchae', 'Japchae ', 'Gored gored ', 'Jajangmyeon', 'Kimchi jjigae', 'Samgyeopsal ', 'Samgyeopsal', 'Dak galbi ', 'Bossam', 'Samgyetang', 'Samgyetang', 'Ramyeon', 'Naengmyeon Naengmyeon', 'Doenjang jjigae', 'Namul']
added
Vietnam
['B\xc3\xa1nh', 'L\xe1\xba\xa9u', 'X\xc3\xb4i', 'Rice noodles', 'Ch\xe1\xba\xa3', 'Ph\xe1\xbb\x9f', 'B\xc3\xa1nh m\xc3\xac', 'Canh chua', 'B\xc3\xa1nh bao', 'B\xc3\xa1nh tr\xc3\xa1ng', 'Nem chua', 'B\xc3\xb2 Kho', 'B\xc3\xa1nh cu\xe1\xbb\x91n', 'B\xc3\xa1nh x\xc3\xa8o', 'C\xe1\xbb\x91m', 'B\xc3\xa1nh canh', 'B\xc3\xban ch\xe1\xba\xa3', 'B\xc3\xa1nh ch\xc6\xb0ng', 'Th\xe1\xbb\x8bt Kho T\xc3\xa0u', 'B\xc3\xa1nh r\xc3\xa1n']
added
Cameroon
['Koki', 'Eru', 'Garri', 'Achu', 'Mbongo Tchobi', 'Ekwang']
Nigeria
['Iru', 'Moin moin', 'Amala', 'Ogi', 'Akara', 'Ogbono soup', 'Draw soup', 'Frejon', 'Echicha', 'Funkaso', 'Edikang Ikong', 'Banga soup', 'Isi ewu', 'Kuli-kuli', 'Owofibo']
Morocco
['Bichak', 'Briouat', 'Matbucha', 'Ahriche']
North Africa
['Couscous', 'Tahini', 'Merguez', 'Chermoula', 'Shish taouk', 'M\xc3\xa9choui', 'Sfenj', 'Asida', 'Shahan ful']
Levant
['Freekeh', 'Toum', 'Baba ghanoush']
South Africa
['Bobotie', 'Chakalaka', 'Boerewors', 'Bunny chow', 'Jaffle', 'Peppermint Crisp', 'Melktert', 'Phutu', 'Koeksister', 'Pampoenkoekies', 'Potbrood', 'Gatsby Sandwich', 'Skilpadjies', 'Braaibroodjies', 'Pap en Vleis', 'Hertzoggie', 'Dro\xc3\xabwors', 'Bar-One Cake', 'Mielie brood/Mealie bread', 'Boerewors-roll']
added
Libya
['Usban', 'Bazeen']
Southern Africa
['Pap', 'Feijoada', 'Biltong', 'Malva pudding', 'Frikkadel', 'Isidudu', 'Mala Mogodu']
Tunisia
['Brik', 'Chakhchoukha', 'Lablabi', 'Mesfouf', 'Makroudh']
Zimbabwe
['Korma', 'Sadza']
Egypt
['Ful medames', 'Fig roll', 'Kushari', 'Hawawshi', 'Mulukhiyah', 'Duqqa', 'Fesikh']
Ghana
['Fufu', 'Kenkey', 'Kelewele', 'Konkonte']
Algeria
['Pastilla', 'Harira', 'Torta de Gazpacho']
West Africa
['Jollof rice', 'Tapalapa bread']
East Africa
['Mandazi', 'Kachumbari']
Uganda
['Matoke', 'Mugoyo']
Maghreb
['Msemen']
Central Africa
['Nshima']
Namibia
['Potjiekos', 'Tomato bredie']
Botswana
['Sosatie', 'Seswaa']
Northwest Africa
['Shakshouka']
Senegal
['Yassa', 'Thieboudienne']
African Great Lakes
['Ugali']
Africa
['Umngqusho']

In [13]:
top20

                            0             1
0                   Hamburger           USA
1                    Pancakes           USA
2                   Barbecue            USA
3                    Biscuit            USA
4               Fried chicken           USA
5                    Meatloaf           USA
6                Baked potato           USA
7                  Sour cream           USA
8                Potato salad           USA
9                    Coleslaw           USA
10                    Chowder           USA
11                Pumpkin pie           USA
12                Pasta salad           USA
13                Corned beef           USA
14            Stuffed peppers           USA
15                      Grits           USA
16        Macaroni and cheese           USA
17                   Doughnut           USA
18            Chili con carne           USA
19           Chicken sandwich           USA
0                  Fried Rice         China
1                   Dumplings         China
2                     Dim sum         China
3                 Noodle soup         China
4                     Hot pot         China
5                   Chow mein         China
6                      Wonton         China
7                 Peking Duck         China
8            Kung Pao chicken         China
9         Sweet and sour pork         China
..                        ...           ...
10                   Nem chua       Vietnam
11                     BÃ² Kho       Vietnam
12                  BÃ¡nh cuá»n       Vietnam
13                   BÃ¡nh xÃ¨o       Vietnam
14                        Cá»m       Vietnam
15                  BÃ¡nh canh       Vietnam
16                    BÃºn cháº£       Vietnam
17                 BÃ¡nh chÆ°ng       Vietnam
18               Thá»t Kho TÃ u       Vietnam
19                   BÃ¡nh rÃ¡n       Vietnam
0                     Bobotie  South Africa
1                   Chakalaka  South Africa
2                   Boerewors  South Africa
3                  Bunny chow  South Africa
4                      Jaffle  South Africa
5            Peppermint Crisp  South Africa
6                    Melktert  South Africa
7                       Phutu  South Africa
8                  Koeksister  South Africa
9              Pampoenkoekies  South Africa
10                   Potbrood  South Africa
11            Gatsby Sandwich  South Africa
12                Skilpadjies  South Africa
13             Braaibroodjies  South Africa
14               Pap en Vleis  South Africa
15                 Hertzoggie  South Africa
16                   DroÃ«wors  South Africa
17               Bar-One Cake  South Africa
18  Mielie brood/Mealie bread  South Africa
19             Boerewors-roll  South Africa

[300 rows x 2 columns]

In [14]:
no_duplicates = top20.drop_duplicates(subset= [1], keep='first', inplace=False)
final_countries_list = no_duplicates[1].tolist()
print final_countries_list

['USA', 'China', 'France', 'Germany', 'UK', 'India', 'Italy', 'Thailand', 'Spain', 'Mexico', 'Ethiopia', 'Ecuador', 'Korea', 'Vietnam', 'South Africa']

In [15]:
revised_countries_list = ['United States', 'China','France', 'Germany', 'United Kingdom', 'India', 'Italy', 'Thailand', 'Spain', 'Mexico', 'Ethiopia', 'Ecuador', 'South Korea', 'Vietnam', 'South Africa']

In [16]:
#get Google trends over time for top items in each country
top_international_df = info_over_time (top20, '2013-05-05', '2018-04-22', '', 'Chicken sandwich', country=None)

In [17]:
top_international_df

,Chicken sandwich,Hamburger,Pancakes,Barbecue,Biscuit,Fried chicken,Meatloaf,Baked potato,Sour cream,Potato salad,...,Pampoenkoekies,Potbrood,Gatsby Sandwich,Skilpadjies,Braaibroodjies,Pap en Vleis,Hertzoggie,DroÃ«wors,Bar-One Cake,Mielie brood/Mealie bread
date,,,,,,,,,,,,,,,,,,,,,
2013-05-05 00:00:00,3.000000,37.000000,29.000000,39.000000,24.00,20.946733,14.446023,8.667614,7.584162,9.007972,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-05-12 00:00:00,3.000000,34.000000,28.000000,30.000000,23.00,19.502131,13.362571,8.306463,7.223011,8.107174,...,0.000000,0.000000,0.057020,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-05-19 00:00:00,3.000000,35.000000,27.000000,33.000000,22.00,26.363991,13.362571,7.945312,7.584162,10.809566,...,0.000000,0.000000,0.057020,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-05-26 00:00:00,3.000000,36.000000,28.000000,36.000000,21.00,20.946733,13.001420,8.306463,6.861861,14.412755,...,0.000000,0.000000,0.057020,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-06-02 00:00:00,4.000000,32.000000,25.000000,43.000000,22.00,19.863281,13.362571,7.584162,6.861861,9.908769,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-06-09 00:00:00,3.000000,34.000000,27.000000,40.000000,22.00,20.224432,12.640270,7.945312,7.584162,10.809566,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-06-16 00:00:00,3.000000,33.000000,27.000000,38.000000,21.00,20.585582,11.917969,7.584162,7.584162,10.809566,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-06-23 00:00:00,3.000000,34.000000,29.000000,34.000000,23.00,21.307884,12.279119,7.584162,7.223011,10.809566,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-06-30 00:00:00,4.000000,38.000000,30.000000,49.000000,22.00,23.113636,10.834517,8.306463,8.667614,23.420726,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-07-07 00:00:00,4.000000,34.000000,28.000000,44.000000,22.00,22.391335,12.279119,7.945312,7.584162,11.710363,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-07-14 00:00:00,4.000000,35.000000,29.000000,44.000000,23.00,22.030185,13.001420,7.945312,7.584162,11.710363,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-07-21 00:00:00,4.000000,35.000000,29.000000,40.000000,24.00,20.946733,13.723722,7.945312,8.306463,9.908769,...,0.057020,0.057020,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-07-28 00:00:00,4.000000,37.000000,31.000000,38.000000,24.00,22.391335,14.446023,7.945312,8.306463,9.007972,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-08-04 00:00:00,4.000000,39.000000,31.000000,36.000000,24.00,21.669034,14.084872,7.945312,7.945312,9.007972,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-08-11 00:00:00,3.000000,36.000000,30.000000,35.000000,23.00,21.669034,14.807173,7.945312,7.945312,9.007972,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-08-18 00:00:00,3.000000,36.000000,30.000000,33.000000,22.00,20.946733,14.446023,7.223011,7.223011,8.107174,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-08-25 00:00:00,3.000000,35.000000,29.000000,29.000000,22.00,20.585582,14.807173,7.945312,7.584162,9.007972,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-09-01 00:00:00,3.000000,34.000000,30.000000,27.000000,23.00,20.585582,14.084872,8.306463,7.584162,9.908769,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-09-08 00:00:00,3.000000,33.000000,27.000000,19.000000,23.00,20.224432,15.890625,8.306463,7.584162,6.305580,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-09-15 00:00:00,3.000000,34.000000,27.000000,19.000000,23.00,21.307884,16.612926,8.667614,7.223011,6.305580,...,0.000000,0.000000,0.057020,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-09-22 00:00:00,3.000000,35.000000,29.000000,18.000000,23.00,22.030185,16.251776,8.667614,7.223011,6.305580,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-09-29 00:00:00,3.000000,32.000000,28.000000,16.000000,24.00,21.307884,15.890625,8.306463,7.223011,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-10-06 00:00:00,3.000000,33.000000,29.000000,16.000000,24.00,20.585582,17.696378,8.667614,7.584162,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-10-13 00:00:00,3.000000,33.000000,29.000000,17.000000,26.00,20.585582,16.974077,9.751065,7.584162,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-10-20 00:00:00,3.000000,32.000000,29.000000,16.000000,27.00,20.585582,17.335227,9.389915,7.584162,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-10-27 00:00:00,3.000000,37.000000,29.000000,15.000000,27.00,20.585582,19.140980,9.751065,6.861861,4.503986,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-11-03 00:00:00,3.000000,34.000000,28.000000,15.000000,27.00,19.502131,19.502131,9.389915,7.223011,4.503986,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-11-10 00:00:00,3.000000,34.000000,31.000000,16.000000,27.00,20.946733,18.418679,10.834517,7.584162,4.503986,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-11-17 00:00:00,3.000000,34.000000,29.000000,15.000000,29.00,19.140980,18.418679,10.112216,9.028764,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2013-11-24 00:00:00,2.000000,31.000000,31.000000,16.000000,29.00,17.335227,14.446023,11.917969,14.446023,9.908769,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-08 00:00:00,5.000000,36.000000,33.000000,22.000000,29.00,24.919389,18.057528,9.389915,8.667614,5.404783,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-10-15 00:00:00,4.000000,37.000000,33.000000,20.000000,28.00,26.002841,18.057528,9.751065,8.306463,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-10-22 00:00:00,4.000000,38.000000,34.000000,20.000000,30.00,25.641690,18.418679,9.751065,8.306463,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-10-29 00:00:00,4.000000,38.000000,35.000000,19.000000,31.00,25.280540,18.779830,10.112216,8.306463,4.503986,...,0.057020,0.000000,0.057020,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-11-05 00:00:00,4.000000,37.000000,34.000000,19.000000,36.00,26.002841,19.863281,10.834517,8.306463,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-11-12 00:00:00,4.000000,35.000000,33.000000,19.000000,33.00,25.641690,18.418679,10.834517,9.389915,5.404783,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-11-19 00:00:00,4.000000,33.000000,34.000000,19.000000,33.00,22.391335,13.723722,12.640270,15.168324,9.908769,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-11-26 00:00:00,4.000000,35.000000,31.000000,18.000000,32.00,22.391335,14.807173,8.667614,7.945312,4.503986,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-12-03 00:00:00,4.000000,34.000000,32.000000,19.000000,34.00,23.474787,17.696378,9.389915,8.667614,4.503986,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-12-10 00:00:00,4.000000,35.000000,31.000000,20.000000,36.00,24.197088,16.612926,9.389915,9.751065,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-12-17 00:00:00,4.000000,30.000000,30.000000,22.000000,43.00,24.197088,14.446023,10.112216,13.001420,9.908769,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-12-24 00:00:00,3.000000,32.000000,40.000000,24.000000,35.00,24.919389,13.723722,12.279119,13.001420,9.908769,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2017-12-31 00:00:00,4.000000,37.000000,44.000000,21.000000,30.00,28.892045,18.779830,13.001420,11.556818,6.305580,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-07 00:00:00,5.000000,56.000000,39.000000,20.000000,29.00,27.808594,21.669034,12.279119,9.028764,4.503986,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-14 00:00:00,5.000000,42.000000,41.000000,20.000000,29.00,27.808594,21.307884,11.917969,9.751065,4.503986,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-21 00:00:00,5.000000,39.000000,41.000000,19.000000,29.00,27.086293,19.863281,11.556818,8.667614,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-01-28 00:00:00,5.000000,39.000000,43.000000,20.000000,29.00,27.447443,19.502131,10.473366,9.028764,4.503986,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-02-04 00:00:00,5.000000,39.000000,45.000000,21.000000,29.00,27.808594,16.612926,10.473366,9.751065,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-02-11 00:00:00,5.000000,37.000000,99.000000,21.000000,29.00,27.086293,17.335227,11.195668,8.306463,4.503986,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-02-18 00:00:00,5.000000,38.000000,43.000000,21.000000,30.00,28.169744,18.418679,9.751065,8.667614,4.503986,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-02-25 00:00:00,5.000000,37.000000,48.000000,21.000000,28.00,27.086293,18.057528,9.389915,8.667614,4.503986,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-04 00:00:00,5.000000,38.000000,37.000000,22.000000,29.00,27.808594,18.418679,9.751065,8.667614,4.503986,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-11 00:00:00,5.000000,38.000000,38.000000,23.000000,28.00,26.363991,16.251776,9.751065,7.945312,5.404783,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-18 00:00:00,5.000000,38.000000,38.000000,24.000000,29.00,26.363991,15.890625,9.028764,8.306463,5.404783,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-03-25 00:00:00,5.000000,39.000000,40.000000,28.000000,31.00,27.447443,15.890625,10.112216,10.112216,9.908769,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-04-01 00:00:00,5.000000,36.000000,36.000000,31.000000,27.00,25.641690,14.084872,9.751065,9.389915,8.107174,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-04-08 00:00:00,5.000000,37.000000,34.000000,33.000000,28.00,24.919389,16.974077,9.028764,8.667614,6.305580,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-04-15 00:00:00,6.000000,35.000000,35.000000,48.000000,29.00,26.363991,16.251776,9.389915,8.306463,6.305580,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2018-04-22 00:00:00,5.000000,37.000000,34.000000,42.000000,29.00,24.919389,14.084872,9.028764,8.306463,6.305580,...,0.057020,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.911538,36.073077,34.257692,27.569231,26.85,22.901113,15.543365,9.389915,8.295351,7.677564,...,0.012062,0.002412,0.001974,0.000219,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
#get sum of searches in a specified country for each cuisine 
def food_in_country_over_time (df, countries, start_date, end_date, region):
    dataframe = DataFrame()
    for c in countries:
        print c
        tempdf=info_over_time(df, start_date, end_date, region, 'None', c)
        tempdf.loc[:, c] = tempdf.sum(axis=1)
        tempdf = tempdf.loc[:, c] #save sum for country as df
        
        #append to the final dataframe
        dataframe = pd.concat([dataframe, tempdf], axis=1)
    return dataframe

In [19]:
#2 letter codes that correspond to each country
codes = ['US', 'CN', 'FR', 'DE', 'GB', 'IN', 'IT','TH', 'ES','MX', 'ET','EC', 'KR','VN','ZA']
country_and_codes= zip(final_countries_list, codes)
print country_and_codes

[('USA', 'US'), ('China', 'CN'), ('France', 'FR'), ('Germany', 'DE'), ('UK', 'GB'), ('India', 'IN'), ('Italy', 'IT'), ('Thailand', 'TH'), ('Spain', 'ES'), ('Mexico', 'MX'), ('Ethiopia', 'ET'), ('Ecuador', 'EC'), ('Korea', 'KR'), ('Vietnam', 'VN'), ('South Africa', 'ZA')]

In [20]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from pytrends.request import TrendReq
import pandas as pd 

import plotly.graph_objs as go

init_notebook_mode(connected=True)

import plotly
from plotly.graph_objs import Scatter, Layout
import plotly.graph_objs
import plotly.plotly as py
import plotly.figure_factory as ff

In [21]:
#Scatter plot
def draw_scatter(df):
    data = []
    for item in df.iteritems(): 
        #Extract the title: 
        title = item[0]
        #Extract the series of that title 
        s = item[1]
        #Collect x and y 
        item_y = s.values
        item_x = s.keys()

        #Making trace
        trace = go.Scatter(x=item_x,
                  y=item_y,
                  name=title)
        #Append trace to dataset
        data.append(trace)
        
    plot(data,filename='scatter.html')

In [22]:
#make scatter plot for the top20 foods for each cuisine in the world
draw_scatter(top_international_df)

In [24]:
#make scatter plots for different cuisines in each country
#Scatter plot
def draw_scatterFiles(df, file_name):
    data = []
    for item in df.iteritems(): 
        #Extract the title: 
        title = item[0]
        #Extract the series of that title 
        s = item[1]
        #Collect x and y 
        item_y = s.values
        item_x = s.keys()

        #Making trace
        trace = go.Scatter(x=item_x,
                  y=item_y,
                  name=title)
        #Append trace to dataset
        data.append(trace)
        
    plot(data,filename= file_name + '.html')

for country, code in country_and_codes:
    print 'country', country
    df = food_in_country_over_time (top20, final_countries_list, '2004-04-22', '2018-04-22', code)
    draw_scatterFiles(df, country)

country USA
USA
China
France
Germany
UK
India
Italy
Thailand
Spain
Mexico
Ethiopia
Ecuador
Korea
Vietnam
South Africa
country China
USA
China
France
Germany
UK
India
Italy
Thailand
Spain
Mexico
Ethiopia
Ecuador
Korea
Vietnam
South Africa

ValueError: labels ['isPartial'] not contained in axis

In [26]:
#make scatter plots for different cuisines in the world
world_df = food_in_country_over_time (top20, final_countries_list, '2004-04-22', '2018-04-22', '')
draw_scatterFiles(world_df, 'world')

USA
China
France
Germany
UK
India
Italy
Thailand
Spain
Mexico
Ethiopia
Ecuador
Korea
Vietnam
South Africa

<b>Graphing functions follow below</b>

In [27]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from pytrends.request import TrendReq
import pandas as pd 

import plotly.graph_objs as go

init_notebook_mode(connected=True)

import plotly
from plotly.graph_objs import Scatter, Layout
import plotly.graph_objs
import plotly.plotly as py
import plotly.figure_factory as ff

In [28]:
# kw_list = ["Orange","Apple","Berry","Melon","Banana","Pumpkin","Grapes","Dragon Fruit","Watermelon","Blueberry"]

#Function take in a list of keywords, starting date, ending date in forms of 'YYYY-MM-DD YYYY-MM-DD', and region
#Yielding: a normalized Dataframe of keywords as y-axis, 
#timeline break down by months, and values as trend index over 100
#this should only be used for small queries with max 5 items in the keyword (kw) list
def trend_over_time(kw,start_date,end_date,region):
        
    first_five = kw[0:5]
#     second_five = kw[5:]
    
    pytrends = TrendReq(hl='en-US', tz=360)

    #First five 
    pytrends.build_payload(first_five, cat=0, timeframe=start_date + ' ' + end_date, geo=region, gprop='')
    df_1 = pytrends.interest_over_time().drop('isPartial',1)
#     time.sleep(1)
#     #Second dive 
#     pytrends.build_payload(second_five, cat=0, timeframe=start_date + ' ' + end_date, geo=region, gprop='')
#     df_2 = pytrends.interest_over_time().drop('isPartial',1)
    
#     Big_DataFrame = pd.concat([df_1, df_2], axis=1)
    
    return df_1

# result_time = trend_over_time(kw_list,'2016-01-01','2017-12-01','US')

In [29]:
#Scatter plot
def draw_scatter(df,x,y,t):
    data = []
    for item in df.iteritems(): 
        #Extract the title: 
        title = item[0]
        #Extract the series of that title 
        s = item[1]
        #Collect x and y 
        item_y = s.values
        item_x = s.keys()

        #Making trace
        trace = go.Scatter(x=item_x,
                  y=item_y,
                  name=title)
        #Append trace to dataset
        data.append(trace)
    
    layout = dict(title = t, xaxis = dict(title='Time'),
        yaxis = dict(title='Search Index'))
    fig = dict( data=data, layout=layout )
    plot(fig,filename='scatter.html')

In [30]:
#Table
def nine_bins_gen(matrix):
    new_matrix = []
    for row in matrix: 
        new_row = []
        for element in row: 
            if element <= 10: 
                new_row.append(0)
            elif element <= 21:
                new_row.append(1)
            elif element <= 32: 
                new_row.append(2)
            elif element <= 43: 
                new_row.append(3)
            elif element <= 54: 
                new_row.append(4)
            elif element <= 65: 
                new_row.append(5)
            elif element <= 76: 
                new_row.append(6)
            elif element <= 87: 
                new_row.append(7)
            else: 
                new_row.append(8)
        new_matrix.append(new_row)
    return new_matrix

#sudo pip install colorlover
import colorlover as cl
from collections import Counter
import numpy as np

def draw_table(df):
    #Create shades of color 
    val = []
    for l in df.values: 
        for i in l: 
            val.append(i)
    num_shades = str(len(Counter(val)))
    colors = cl.scales['9']['seq']['Blues']
    
    #Create list of columns 
    list_col = []
    for col in df.keys():
        #Add each vertical list to the list
        list_col.append(df[col].values)
    
    #normalize the color scheme
    new_matrix = nine_bins_gen(list_col)
        
    trace = go.Table(type = 'table',
                     header = dict(values = list(df.keys()),
                                   line = dict(color = 'black'),
                                   fill = dict(color = 'black'),
                                   align = 'center',
                                   font = dict(color = 'white', size = 12)),
                     cells = dict(values = list_col,
                                  line = dict(color = [np.array(colors)[element] for element in new_matrix]),
                                  fill = dict(color = [np.array(colors)[element] for element in new_matrix]),
                                  align = 'center',
                                  font = dict(color = 'black', size = 12)))
    data = [trace]
    plot(data, filename='table1.html')

In [31]:
#One kw and region at the moment
def trend_over_region(kw,start_date,end_date,region):
  
    pytrends = TrendReq(hl='en-US', tz=360)
    
    pytrends.build_payload(kw, cat=0, timeframe=start_date + ' ' + end_date, geo=region, gprop='')
    Big_DataFrame = pytrends.interest_by_region()
    
    return Big_DataFrame

result_region = trend_over_region(['Pizza'],'2017-01-01','2017-12-01', 'US')
# result_region

In [32]:
#Source: https://gist.github.com/rogerallen/1583593
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

In [33]:
def draw_US_map(df,title):
    for col in df.columns:
        df[col] = df[col].astype(str)

    scl = [[0.0, 'rgb(247,252,240)'],[0.1, 'rgb(224,243,219)'],[0.2, 'rgb(204,235,197)'],
            [0.4, 'rgb(168,221,181)'],[0.5, 'rgb(123,204,196)'],[0.6, 'rgb(78,179,211)']
          ,[0.7, 'rgb(43,140,190)'],[0.8, 'rgb(8,104,172)'],[1.0, 'rgb(8,64,129)']]
    
    #Extract states and values
    states = pd.Series(df.ix[:,0].keys())
    val = pd.Series(df.ix[:,0].values)
    df['text'] = states + '<br>' +  'Search index: ' + val
    
    #Extract states as abbreviated list
    locations_code = []
    for s in df.ix[:,0].keys():
        locations_code.append(us_state_abbrev[s])
    
    data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = locations_code,
        z = val.astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Search Index")
        ) ]

    layout = dict(
        title = title,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
    fig = dict( data=data, layout=layout )
    plot( fig, filename='d3-cloropleth-map.html' )


#df containing 2 columns (1: list of states, 2: list of index of ONE kw)
draw_US_map(result_region,'Search index for pizza in 2017')

/Users/BrookeWerner/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning:


.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [34]:
import pandas as pd

#get the Google trends over time for items in dataframe df
def info_by_state (df, start_date, end_date, region, first_item, country=None):
    
    time = start_date + ' ' + end_date
    
    #if a country is specified, only get items for that country
#     if country == None:
    kwlist = df[0].tolist()
#     else:
#         country_items = df.loc[df[1] == country]
#         kwlist = country_items[0].tolist()
        
    if first_item == 'None':
        first_item = kwlist[0]
 
    first = [first_item]
        
    #get info for first 5 items
    first.extend(kwlist[0:4])
        
    pytrends.build_payload(first, cat=0, timeframe= time, geo=region, gprop='')
        
    tempdf = pytrends.interest_by_region(resolution='REGION')
    tempdf.loc['mean'] = tempdf.mean() #add mean as last row
    
    ref_mean = tempdf.loc['mean'][0] #mean of first term, used as reference    
    df = tempdf #final dataframe
    
    #print 'ref1:',ref_mean
    #print first[0]
    
    # start and end indices of items
    start = 0
    end = 4
    
    done = False
    while not done:
        
        start = start + 4
        if (len(kwlist) - 1) > (end + 4):
            end = end + 4

        else:
            end = len(kwlist)
            done = True
        
        #get the info for these items
        items = kwlist[start:end] 
        
        items.append(first_item)
                
        pytrends.build_payload(items, cat=0, timeframe= time, geo='US', gprop='')
        tempdf = pytrends.interest_by_region(resolution='REGION')

        tempdf.loc['mean'] = tempdf.mean() #add mean as last row
        
        #normalize the values
        #equation = x * ref_mean/ ref_mean2
        ref_mean2 = tempdf.loc['mean'][first_item]
        
        #print 'ref2:',ref_mean2
        
        normal_factor = float (ref_mean)/ref_mean2
        tempdf = tempdf.apply(lambda x: x*normal_factor)
        tempdf = tempdf.drop(first_item,1)
        
        #append to the final dataframe
        df = pd.concat([df, tempdf], axis=1)
#     df = df.loc[states_list, :]

    return df

In [35]:
fastfoods = ["Burrito","Doughnut","French fries","Fried chicken", "Hot Dog","Hamburger","Taco", "Ice Cream"]

ff = pd.DataFrame(fastfoods)

allstateinfo = info_by_state (ff, '2017-01-01', '2017-12-31', 'US', 'Hamburger')

In [36]:
dfOfStates = pd.DataFrame((allstateinfo.index[0:51]).tolist()) #get a list of just all the states

In [37]:
allstateinfo['Max'] = allstateinfo.idxmax(axis=1) #

In [38]:
allstateinfo = allstateinfo.drop(allstateinfo.columns[0:8], axis=1)

In [39]:
def indexize(row):
    if (row['Max']) == 'Burrito':
        return 1
    elif (row['Max']) == 'Doughnut':
        return 2
    elif (row['Max']) == 'French fries':
        return 3
    elif (row['Max']) == 'Fried chicken':
        return 4
    elif (row['Max']) == 'Hamburger':
        return 5
    elif (row['Max']) == 'Hot dog':
        return 6
    elif (row['Max']) == 'Chicken Nugget':
        return 7
    elif (row['Max']) == 'Taco':
        return 8
    elif (row['Max']) == 'Pizza':
        return 9
    elif (row['Max']) == 'Ice Cream':
        return 10
    else:
        return 0 #shouldn't ever return this
    
    
allstateinfo['index'] = allstateinfo.apply(lambda row: indexize(row), axis=1) #add a column containing a number that indicates which food is the most popular

In [40]:
allstateinfo = allstateinfo.drop('mean')

In [41]:
allstateinfo

                            Max  index
geoName
Alabama                    Taco      8
Alaska                     Taco      8
Arizona                    Taco      8
Arkansas                   Taco      8
California                 Taco      8
Colorado                   Taco      8
Connecticut           Ice Cream     10
Delaware              Ice Cream     10
District of Columbia       Taco      8
Florida                    Taco      8
Georgia                    Taco      8
Hawaii                Ice Cream     10
Idaho                      Taco      8
Illinois                   Taco      8
Indiana                    Taco      8
Iowa                       Taco      8
Kansas                     Taco      8
Kentucky                   Taco      8
Louisiana                  Taco      8
Maine                 Ice Cream     10
Maryland                   Taco      8
Massachusetts         Ice Cream     10
Michigan                   Taco      8
Minnesota                  Taco      8
Mississippi                Taco      8
Missouri                   Taco      8
Montana                    Taco      8
Nebraska                   Taco      8
Nevada                     Taco      8
New Hampshire         Ice Cream     10
New Jersey            Ice Cream     10
New Mexico                 Taco      8
New York              Ice Cream     10
North Carolina             Taco      8
North Dakota               Taco      8
Ohio                       Taco      8
Oklahoma                   Taco      8
Oregon                     Taco      8
Pennsylvania          Ice Cream     10
Rhode Island          Ice Cream     10
South Carolina             Taco      8
South Dakota               Taco      8
Tennessee                  Taco      8
Texas                      Taco      8
Utah                       Taco      8
Vermont               Ice Cream     10
Virginia                   Taco      8
Washington                 Taco      8
West Virginia              Taco      8
Wisconsin                  Taco      8
Wyoming                    Taco      8

In [42]:
# same thing as above but including pizza AKA pizza takes over

fastfoods = ["Burrito","Doughnut","French fries","Fried chicken","Hamburger","Hot dog", "Taco", "Pizza"]

ff = pd.DataFrame(fastfoods)

allstateinfoP = info_by_state (ff, '2017-01-01', '2017-12-31', 'US', 'Hamburger')

dfOfStates = pd.DataFrame((allstateinfo.index[0:51]).tolist()) #get a list of just all the states

allstateinfoP['Max'] = allstateinfoP.idxmax(axis=1) #

allstateinfoP = allstateinfoP.drop(allstateinfoP.columns[0:8], axis=1)

def indexize(row):
    if (row['Max']) == 'Burrito':
        return 1
    if (row['Max']) == 'Doughnut':
        return 2
    if (row['Max']) == 'French fries':
        return 3
    if (row['Max']) == 'Fried chicken':
        return 4
    if (row['Max']) == 'Hamburger':
        return 5
    if (row['Max']) == 'Hot dog':
        return 6
    if (row['Max']) == 'Chicken Nugget':
        return 7
    if (row['Max']) == 'Taco':
        return 8
    if (row['Max']) == 'Pizza':
        return 9
    
allstateinfoP['index'] = allstateinfoP.apply(lambda row: indexize(row), axis=1) #add a column containing a number that indicates which food is the most popular

allstateinfoP = allstateinfoP.drop('mean')
allstateinfoP

                        Max  index
geoName
Alabama               Pizza      9
Alaska                Pizza      9
Arizona               Pizza      9
Arkansas              Pizza      9
California            Pizza      9
Colorado              Pizza      9
Connecticut           Pizza      9
Delaware              Pizza      9
District of Columbia  Pizza      9
Florida               Pizza      9
Georgia               Pizza      9
Hawaii                Pizza      9
Idaho                 Pizza      9
Illinois              Pizza      9
Indiana               Pizza      9
Iowa                  Pizza      9
Kansas                Pizza      9
Kentucky              Pizza      9
Louisiana             Pizza      9
Maine                 Pizza      9
Maryland              Pizza      9
Massachusetts         Pizza      9
Michigan              Pizza      9
Minnesota             Pizza      9
Mississippi           Pizza      9
Missouri              Pizza      9
Montana               Pizza      9
Nebraska              Pizza      9
Nevada                Pizza      9
New Hampshire         Pizza      9
New Jersey            Pizza      9
New Mexico            Pizza      9
New York              Pizza      9
North Carolina        Pizza      9
North Dakota          Pizza      9
Ohio                  Pizza      9
Oklahoma              Pizza      9
Oregon                Pizza      9
Pennsylvania          Pizza      9
Rhode Island          Pizza      9
South Carolina        Pizza      9
South Dakota          Pizza      9
Tennessee             Pizza      9
Texas                 Pizza      9
Utah                  Pizza      9
Vermont               Pizza      9
Virginia              Pizza      9
Washington            Pizza      9
West Virginia         Pizza      9
Wisconsin             Pizza      9
Wyoming               Pizza      9

In [43]:
#draws US map for different food in each state
def draw_US_map2(df,title):
    for col in df.columns:
        df[col] = df[col].astype(str)

    scl = [[0.0, 'rgb(247,252,240)'],[0.1, 'rgb(224,243,219)'],[0.2, 'rgb(204,235,197)'],
            [0.4, 'rgb(168,221,181)'],[0.5, 'rgb(123,204,196)'],[0.6, 'rgb(78,179,211)']
          ,[0.7, 'rgb(43,140,190)'],[0.8, 'rgb(8,104,172)'],[1.0, 'rgb(8,64,129)']]
    
    #Extract states and values
    states = pd.Series(df.ix[:,0].keys())
    val = pd.Series(df.ix[:,1].values)
    word = pd.Series(df.ix[:,0].values)
    
    df['text'] = states + '<br>' +  'Popular: ' + word
   
    #Extract states as abbreviated list
    locations_code = []
    for s in df.ix[:,0].keys():
        locations_code.append(us_state_abbrev[s])
    
    data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = locations_code,
        z = val.astype(float),
        locationmode = 'USA-states',
        text = word,
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
#         colorbar = dict(
#             title = "Search Index"),
        showscale = False
    )]

    layout = dict(
        title = title,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
    fig = dict( data=data, layout=layout )
    plot( fig, filename='d3-cloropleth-map.html' )

In [44]:
draw_US_map2(allstateinfo, "Most Popular Fast Foods in Each State (2017)")

/Users/BrookeWerner/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:11: DeprecationWarning:


.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [45]:
draw_US_map2(allstateinfoP, "Most Popular Fast Foods in Each State Including Pizza (2017)")

/Users/BrookeWerner/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:11: DeprecationWarning:


.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

In [51]:
#Import the data from fusion list 
fusion_list = csvListMaker("Fusion.csv")[1:]
fusion_df = pd.DataFrame(fusion_list)
fusion_df = info_over_time(fusion_df,'2010-01-01', '2018-04-31', 'US', 'None', country=None)

#Draw the scatter plot based on the top most searched 20
draw_scatter(get_top20(fusion),"X","Y","Fusion")

ResponseError: The request failed: Google returned a response with code 500.